<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <img class="img-responsive " src="https://lh3.ggpht.com/OsDaHoxLg9MXmGskclOV6V3592KiFQICLv1Cac2RwIVgrv7q9D43ajfG82HNfY_8Gyw=w300-rw" alt="FFC.com" width="60" height="50">
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">Family Folder Collector
      </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav text-center">
                  <li id="my_nav"><a href="#What">ABOUT</a></li>
                  <li id="my_nav"><a href="#Who">USER</a></li>
                  <li id="my_nav"><a href="#tour">FEATURES</a></li>
                  <li id="my_nav"><a href="/FAQ-ffc.html">FAQ </a></li>
                  <li id="my_nav"><a href="https://download.ffc.in.th/">DOWNLOAD</a></li>
                  <li id="my_nav"><a href="#contact">CONTACT</a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>
