<!-- Header Start -->
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  body {font-family: Arial, Helvetica, sans-serif;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  </style>
  <body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img src="{{ site.baseurl }}/img/logo-ffc-green.png" alt="Logo" height="82" width="82" style="margin-top: -17%">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://ffc.in.th/#What">Home</a></li>
                <li><a href="https://ffc.in.th/console/">Dashboard</a></li>
                <li><a href="https://ffc.in.th/console/#/system/login">Map</a></li>
                <li><a href="{{ site.baseurl }}/Use">How to Use</a></li>
                <li><a id="myBtn">Download</a></li>
                <!-- <li><a href="https://download.ffc.in.th" >Download</a></li> -->
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <!-- <li><a href="https://www.facebook.com/FFC.NECTEC/" target="_blank"><i class="fa fa-facebook"></i></a></li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <center>
      <h1>นโยบายความเป็นส่วนตัว</h1>
    </center>
    <p>ศูนย์วิจัยเทคโนโลยีสิ่งอำนวยความสะดวกและเครื่องมือแพทย์ (ผู้ให้บริการ) ตระหนักถึงความสำคัญความเป็นส่วนตัวของผู้ใช้บริการ ผู้ให้บริการจึงได้จัดทำนโยบายความเป็นส่วนตัว นโยบายนี้อธิบายถึงวิธีการที่ปฏิบัติต่อข้อมูลส่วนบุคคลของผู้ใช้บริการ เช่น การเก็บรวบรวม การจัดเก็บรักษา การใช้ การเปิดเผย รวมถึงสิทธิต่าง ๆ ของผู้ใช้บริการ เป็นต้น โปรดสละเวลาสักครู่เพื่อทำความเข้าใจแนวทางปฏิบัติด้านความเป็นส่วนตัวของผู้ให้บริการ และโปรดสอบถาม หากผู้ใช้บริการมีข้อสงสัยใดๆ</p>
      <p>1. คำจำกัดความ</p>
      <li>
        1.1 ข้อมูลส่วนบุคคล หมายถึง ข้อมูลใด ๆ ที่สามารถระบุถึงตัวตนของผู้ใช้บริการได้ ไม่ว่าจะใช้ข้อมูลนั้นโดยลำพัง หรือใช้ประกอบกับข้อมูลอื่นในการระบุตัวตน 
      </li>
      <li>
        1.2 แอปพลิเคชัน หมายถึง Smart Health Vision 
      </li>
      <li>
        1.3 อุปกรณ์วัดสัญญาณชีพ หมายถึง อุปกรณ์วัดสัญญาณชีพใดๆ ที่สามารถเชื่อมต่อกับแอปพลิเคชันได้ ทั้งนี้ ผู้ให้บริการไม่ได้เป็นผู้คิดค้น ออกแบบ หรือผลิตอุปกรณ์เหล่านี้ 
      </li>
      <li>
        1.4 ระบบคลาวด์ (Cloud) หมายถึง ที่จัดเก็บข้อมูลของแอปพลิเคชัน
      </li>
      
      <p>2. ข้อมูลที่ผู้ให้บริการเก็บรวบรวม</p>
      <p>ผู้ให้บริการจะทำการเก็บรวบรวมข้อมูลของผู้ใช้บริการ เมื่อผู้ใช้บริการได้เริ่มเข้าใช้บริการแอปพลิเคชันของผู้ให้บริการ ซึ่งข้อมูลดังกล่าวอาจมีลักษณะเป็นข้อมูลส่วนบุคคล ทั้งนี้ ข้อมูลที่ผู้ให้บริการเก็บรวบรวมหมายรวมถึงข้อมูลดังต่อไปนี้</p>
      <li>
        2.1 ข้อมูลที่จำเป็นสำหรับการสร้างบัญชี (Account) ได้แก่ ชื่อ นามสกุล น้ำหนัก ส่วนสูง วัน เดือน ปีเกิด เบอร์มือถือ และ เลขบัตรประจำตัวประชาชน (ไม่บังคับกรอก)
      </li>
      <li>
        2.2 ข้อมูลเกี่ยวกับสุขภาพ เช่น อุณหภูมิร่างกาย ค่าความอิ่มตัวของออกซิเจนในเลือด อัตราการเต้นของหัวใจ และความดันโลหิต โดยผู้ให้บริการจะเก็บ เมื่อผู้ใช้บริการได้ทำการเชื่อมต่อแอปพลิเคชันกับอุปกรณ์ด้วยการ Pairing ผ่านสัญญาณบลูธูท (Bluetooth) และใช้งานอุปกรณ์ และกดยอมรับการรับข้อมูลที่สื่อกลาง ทั้งนี้ การที่ผู้ใช้บริการกดยอมรับการรับข้อมูลนั้น ถือว่าผู้ใช้บริการได้ให้ความยินยอมอย่างชัดแจ้งแก่ผู้ให้บริการในการเก็บข้อมูลที่ได้จากอุปกรณ์นั้น บนระบบคลาวด์ของผู้ให้บริการแล้ว โดยผู้ใช้บริการสามารถยกเลิกความยินยอมในการเก็บข้อมูลดังกล่าวได้โดยการแจ้งผู้ดูแลระบบในการลบบัญชีของผู้ใช้บริการออกจากระบบฯ
      </li>
      <li>
        2.3 ข้อมูลการใช้งานแอปพลิเคชัน
      </li>
      <li>
        2.4 ข้อมูลอื่น ๆ ที่ผู้ใช้บริการได้ให้แก่ผู้ให้บริการ เช่น ข้อมูลที่ได้จากการที่ผู้ใช้บริการใช้งานแอปพลิเคชัน ข้อมูลส่วนตัวที่ผู้ใช้บริการได้กรอกลงบนแอปพลิเคชัน ข้อมูลที่ผู้ใช้บริการร่วมกิจกรรมกับผู้ให้บริการ และข้อมูลที่ผู้ใช้บริการให้เมื่อติดต่อผู้ให้บริการซึ่งรวมถึงการดาวน์โหลดแอปพลิเคชัน
      </li>     
      <p>3. ที่จัดเก็บข้อมูล</p>
      ผู้ให้บริการจะจัดเก็บข้อมูลส่วนบุคคลทั้งหมดของผู้ใช้บริการในระบบคลาวด์ เพื่อประโยชน์ในการเชื่อมต่อข้อมูล และเพื่อรักษาผลประโยชน์ของผู้ใช้บริการ เช่น สร้างความสะดวกสบายต่อการเข้าถึงข้อมูล
      4. การใช้ข้อมูลส่วนบุคคล
      ผู้ให้บริการจะใช้ข้อมูลส่วนบุคคลของผู้ใช้บริการในการให้บริการแอปพลิเคชันนี้ รวมถึงนำไปใช้ตามวัตถุประสงค์ ที่ระบุไว้ในนโยบายฉบับนี้ หรือตามวัตถุประสงค์อื่น ๆ ที่แจ้งขณะเก็บรวบรวมข้อมูล หรือที่ผู้ใช้บริการได้ให้ความยินยอมหลังจากผู้ให้บริการเก็บข้อมูลไปแล้ว ทั้งนี้ ข้อมูลส่วนบุคคลของผู้ใช้บริการอาจนำไปใช้เพื่อวัตถุประสงค์ดังต่อไปนี้ 
          4.1 สร้างและจัดการบัญชีของผู้ใช้บริการ และติดต่อผู้ใช้บริการเกี่ยวกับบัญชีของผู้ใช้บริการ 
          4.2 ยืนยันตัวตนของผู้ใช้บริการเพื่อรักษาความปลอดภัยในการใช้ข้อมูลส่วนบุคคล 
          4.3 ประมวลผล วัดผล และวิเคราะห์ข้อมูล เพื่อปรับปรุงการให้บริการและการพัฒนาระบบต่อไป
          4.4 ให้ข้อมูล จัดทำ และติดต่อผู้ใช้บริการเกี่ยวกับผลิตภัณฑ์ บริการ กิจกรรม การสำรวจความคิดเห็นต่าง ๆ ของผู้ให้บริการในอนาคต 
          
      5. การเปิดเผยข้อมูลส่วนบุคคล
      5.1 ผู้ให้บริการจะไม่ขายหรือเปิดเผยข้อมูลส่วนบุคคลของผู้ใช้บริการแก่บุคคลภายนอกโดยไม่ได้รับความยินยอมจากผู้ใช้บริการโดยเด็ดขาด ยกเว้นกรณีดังต่อไปนี้ 
          1) กฎหมายหรือกระบวนการทางกฎหมายบังคับให้เปิดเผยข้อมูลส่วนบุคคล หรือ 
          2) เปิดเผยต่อเจ้าพนักงาน เจ้าหน้าที่รัฐ หรือหน่วยงานที่มีอำนาจเพื่อปฎิบัติตามคำสั่งหรือคำขอที่ชอบด้วยกฎหมาย หรือ 
          3) เมื่อผู้ให้บริการเห็นว่ามีความจำเป็นต้องเปิดเผยข้อมูลส่วนบุคคลเพื่อป้องกันมิให้เกิดอันตรายหรือความเสียหายใด ๆ แก่ตัวผู้ใช้บริการหรือผู้อื่น หรือเพื่อการสอบสวนการกระทำอันอาจผิดกฎหมายโดยที่ผู้ให้บริการไม่สามารถขอความยินยอมจากผู้ใช้บริการ
      5.2 ผู้ให้บริการอาจเปิดเผยข้อมูลส่วนบุคคลที่ผ่านกระบวนการซึ่งทำให้ไม่สามารถระบุตัวตนได้ต่อสาธารณชน หรือเพื่อประโยชน์ในการประกอบงานวิจัยของผู้ให้บริการ หรือประโยชน์ต่อการพัฒนาระบบสาธารณสุข 
      6. การปกป้องข้อมูลส่วนบุคคล
      ผู้ให้บริการได้จัดให้มีมาตรการรักษาความปลอดภัยข้อมูลส่วนบุคคลที่ผู้ให้บริการได้รับจากผู้ใช้บริการ เพื่อมิให้มีการเปิดเผย ใช้งาน เปลี่ยนแปลงหรือทำลายข้อมูลส่วนบุคคลของผู้ใช้บริการโดยไม่ได้รับอนุญาต โดยผู้ให้บริการได้จัดให้มีระบบรักษาความปลอดภัยที่ได้มาตรฐานเป็นที่ยอมรับ ทั้งการประมวลผลข้อมูล การเก็บข้อมูล และการโอนถ่ายข้อมูล
      7. การส่งต่อข้อมูล
      ข้อมูลของผู้ใช้บริการรวมถึงข้อมูลส่วนบุคคลบางส่วน  อาจจะมีการส่งต่อข้อมูลส่วนบุคคลของผู้ใช้บริการได้ต่อเมื่อได้รับความยินยอมจากผู้ใช้บริการและจะต้องเป็นการใช้ตามวัตถุประสงค์ของบริการผู้ให้บริการเท่านั้นในการศึกษา วิจัย หรือการจัดทำสถิติ ผู้ให้บริการจะดูแลให้ข้อมูลของผู้ใช้บริการส่งต่อเมื่อได้รับการยินยอมจากผู้ใช้บริการ เป็นประโยชน์เกียวกับชีวิต สุขภาพ หรือความปลอดภัยของผู้ใช้บริการ ในบางกรณีผู้ให้บริการอาจให้บุคคลหรือหน่วยงานอื่นเข้าถึงหรือใช้ข้อมูลส่วนบุคคลของผู้ใช้บริการเท่าที่จำเป็น และเพื่อให้เป็นไปตามวัตถุประสงค์และอำนาจหน้าที่ของผู้ให้บริการทั้งนี้ผู้ให้บริการจะต้องได้รับความยินยอมจากผู้ใช้บริการก่อน
      
      8. ความปลอดภัยของข้อมูล
      ความปลอดภัยของข้อมูลของผู้ใช้บริการมีความสำคัญกับผู้ให้บริการ จึงกำหนดให้มีมาตรการในการรักษาความมั่นคงปลอดภัยของข้อมูลส่วนบุคคลอย่างเหมาะสมและสอดคล้องกับการรักษาความลับของข้อมูลส่วนบุคคลเพื่อป้องกันการสูญหาย การเข้าถึง ทำลาย ใช้ แปลง แก้ไขหรือเปิดเผยข้อมูลส่วนบุคคลโดยไม่มีสิทธิหรือโดยไม่ชอบด้วยกฎหมาย โดยให้เป็นไปตามที่กำหนดในนโยบายและแนวปฏิบัติในการรักษาความมั่นคงปลอดภัยด้านเทคโนโลยีสารสนเทศ  ถึงแม้ว่า่ผู้ให้บริการจะดำเนินการรักษาความปลอดภัของข้อมูลตามมาตรฐานแล้วแต่อาจจะมีสิ่งที่คาดไม่ถึงได้
      9. การเชื่อมต่อไปบริการอื่นๆ
      บริการของผู้ให้บริการอาจมีการแนะนำบริการอื่นที่เป็นประโยชน์ต่อผู้ใช้บริการ หากผู้ใช้บริการเข้าเยี่ยมชมบริการอื่นที่ผู้ให้บริการแนะนำ ก่อนผู้ใช้บริการจะใช้บริการขอแนะนำให้ผู้ใช้บริการอ่านนโยบายความเป็นส่วนตัวของบริการที่ผู้ใช้บริการเข้าถึงเพื่อทำความเข้าใจและเพื่อความปลอดภัย
      10. การเปลี่ยนแปลงนโยบายส่วนบุคคล
      ผู้ให้บริการอาจมีการเปลี่ยนแปลงนโยนายความเป็นส่วนตัวเป็นครั้งคราว  หากผู้ให้บริการมีการเปลี่ยนแปลงนโยนายความเป็นส่วนตัวนี้ผู้ให้บริการจะแจ้งให้ผู้ใช้บริการทราบผ่านทางบริการของผู้ให้บริการ
      11. ผู้ควบคุมข้อมูลส่วนบุคคล
      11.1 ผู้ควบคุมข้อมูลส่วนบุคคลคือ ผู้ที่มีอำนาจในการตัดสินใจเกี่ยวกับการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของผู้ใช้บริการ 
      11.2 การให้บริการแอปพลิเคชันนี้ คือ ทีมวิจัยนวัตกรรมและข้อมูลเพื่อสุขภาพ เป็นผู้ควบคุมข้อมูลส่วนบุคคลของผู้ใช้บริการ โดยผู้ใช้บริการสามารถติดต่อผู้ให้บริการได้ที่
      ที่อยู่ 
      ศูนย์วิจัยเทคโนโลยีสิ่งอำนวยความสะดวกและเครื่องมือแพทย์ (A-MED)
      สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ
      111 อุทยานวิทยาศาสตร์ประเทศไทย
      ถนนพหลโยธิน ต.คลองหนึ่ง อ.คลองหลวง จ.ปทุมธานี
      โทร 02-564-6900 ต่อ 2513
      อีเมล์ a-med-hii@nstda.or.th
      <div>
        <center>
          <button>ยอมรับ</button>&nbsp;&nbsp;<button>ไม่ยอมรับ</button>
        </center>
      </div>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
