<!DOCTYPE html>
<html class="no-js">
  <body>
  <!-- Slider Start -->
    <section id="slider" style="margin-top: 50%;">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="block">
              <h1 class="animated fadeInUp">ประกาศนโยบายความเป็นส่วนตัว</h1>
              <h1 class="animated fadeInUp">Privacy Notice</h1>
              <p class="animated fadeInUp">FFC บริการเยี่ยมบ้านเพื่อส่งเสริมสุขภาพ ป้องกันโรค และเข้าถึงชุมชน</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button>
          <a href="https://ffc.in.th/#What">รับทราบ</a>
        </button>
      </div>
    </section>
  </body>
</html>
