<!DOCTYPE html>
<html class="no-js">
    <center>
      <section id="slider" style="background-image: url('slider-bg.png');width: 1024px;height: 656px;">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <div class="block">
                <h1 class="animated fadeInUp">ประกาศนโยบายความเป็นส่วนตัว</h1>
                <h1 class="animated fadeInUp">Privacy Notice</h1>
                <p class="animated fadeInUp">FFC บริการเยี่ยมบ้านเพื่อส่งเสริมสุขภาพ ป้องกันโรค และเข้าถึงชุมชน</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div>
        <button>
          <a href="https://ffc.in.th/#What">รับทราบ</a>
        </button>
      </div>
    </center>
</html>
